name: Build and Deploy Code

on: [push, pull_request]

jobs:
  build:
    environment:
      name: testing
    env:
      HOST: ${{secrets.DATABASE_HOSTNAME}}
      PORT: ${{secrets.DATABASE_PORT}}
      PWD: ${{secrets.DATABASE_PASSWORD}}
      DB: ${{secrets.DATABASE_NAME}}
      USER: ${{secrets.DATABASE_USERNAME}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}
      ALGORITHM: ${{secrets.ALGORITHM}}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{secrets.ACCESS_TOKEN_EXPIRE_MINUTES}}
      ROOT_DB_PASSWORD: ${{secrets.ROOT_DB_PASSWORD}}

    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql
        env:
          MYSQL_ROOT_PASSWORD: ${{secrets.ROOT_DB_PASSWORD}}
          MYSQL_DATABASE: ${{secrets.DATABASE_NAME}}_test
          MYSQL_USER: ${{secrets.DATABASE_USERNAME}}
          MYSQL_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
          MYSQL_HOST: ${{secrets.DATABASE_HOSTNAME}}
        ports:
          - 3306:3306
        options: 
          --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: pulling git repo
        uses: actions/checkout@v2
      - name: Install python version 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install all dependencies
        run: pip install -r requirements.txt
      
      # - name: start mysql
      #   run: sudo service mysql start

      # - name: check mysql status
      #   run: sudo service mysql status
      
      # - name: Create new user & test DB
      #   run: |
      #     mysql -u root -proot -e "CREATE USER '${{secrets.DATABASE_USERNAME}}'@'localhost' IDENTIFIED BY '${{secrets.DATABASE_PASSWORD}}'; GRANT ALL PRIVILEGES ON *.* TO '${{secrets.DATABASE_USERNAME}}'@'localhost'; FLUSH PRIVILEGES;"

      #     mysql -e 'CREATE DATABASE ${{secrets.DATABASE_NAME}}_test; show databases;' -u${{secrets.DATABASE_USERNAME}} -p${{secrets.DATABASE_PASSWORD}}

      - name: Test connection to MySQL
        run: |
          python -c "import mysql.connector;
          conn=mysql.connector.connect(user='${{secrets.DATABASE_USERNAME}}', password='${{secrets.DATABASE_PASSWORD}}', host='localhost', database='${{secrets.DATABASE_NAME}}_test');
          mycursor = conn.cursor(); mycursor.execute("SHOW TABLES");myresult = mycursor.fetchall();print(myresult)"

      - name: test with pytest
        run: |
          pip install pytest
          pytest
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v1
      #   with:
      #     username: ${{ secrets.DOCKER_HUB_USERNAME }}
      #     password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # - name: Set up Docker Buildx
      #   id: buildx
      #   uses: docker/setup-buildx-action@v1

      # - name: Build and push
      #   id: docker_build
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: ./
      #     file: ./Dockerfile
      #     builder: ${{ steps.buildx.outputs.name }}
      #     push: true
      #     tags: ${{ secrets.DOCKER_HUB_USERNAME }}/fastapi:latest
      #     cache-from: type=local,src=/tmp/.buildx-cache
      #     cache-to: type=local,dest=/tmp/.buildx-cache
      # - name: Image digest
      #   run: echo ${{ steps.docker_build.outputs.digest }}

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [build]
  #   environment:
  #     name: production
  #   steps:
  #     - name: pulling git repo
  #       uses: actions/checkout@v2
  #     - name: deploying to Heroku
  #       uses: akhileshns/heroku-deploy@v3.12.12 # This is the action
  #       with:
  #         heroku_api_key: ${{secrets.HEROKU_API_KEY}}
  #         heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
  #         heroku_email: ${{secrets.HEROKU_EMAIL}}

  #     - name: deploy to ubuntu server
  #       uses: appleboy/ssh-action@master
  #       with:
  #         host: ${{secrets.PROD_HOST}}
  #         username: ${{secrets.PROD_USERNAME}}
  #         password: ${{secrets.PROD_PASSWORD}}
  #         script: |
  #           cd app/src
  #           git pull
  #           echo ${{secrets.PROD_PASSWORD}} | sudo -S systemctl restart api
      # login to our ubuntu
      # cd /app/src
      # git pull
      # systemctl restart api